@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');



body {
  background: #ddeefc;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
*{
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}

.card-form{
  max-width: 570px;
  margin: auto;
  width: 100;
    @media screen and(max-width:576px) {
        margin: 0 auto
    }

  
  &__inner{
    background-color: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding:35px;
    padding-left: 180px;
  }
  @media screen and (max-width:480px){
     padding: 25px;
     padding-top: 165px;
  }
  @media screen and (max-width: 360px) {
    padding: 15px;
    padding-top: 165px;
  }

  &__row {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
   &__col {
     flex: auto;
     margin-right: 35px;

   }

    &__group {
       display: flex;
       align-items: flex-start;
       flex-wrap: wrap;

       .card-input__input {
         flex: 1;
         margin-right: 15px;

         &:last-child {
           margin-right: 0;
         }
       }
     }
}